// footer
.footer {
	position: relative;
	display: block;
	padding: 10px 0;
	@media screen and (max-width: 767px) {
		// padding-bottom: 60px;
		.row {
			div[class*="col-"] + div[class*="col-"] {
				margin-top: 12px;
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;
			@media screen and (max-width: 767px) {
				float: none!important;
			    display: block;
			    text-align: center;
			}
			a {
				color: white;
				font-family: $fontH;
				@include transition(all, 0.3s, ease);
				&:hover {
					text-decoration: none;
					opacity: .85;
				}
			}
			+ li {
				margin-left: 26px;
				@media screen and (max-width: 767px) {
					margin-left: 0;
				    margin-top: 12px;
				}
			}
		}
	}
	.copyright {
		text-align: center;
		color: white;
		font-family: $fontH;
		@media screen and (max-width: 767px) {
			margin-top: 12px;
		}
	}
	.socmed {
		a {
			display: inline-block;
			width: 40px;
			height: 40px;
			padding: 2px;
			border: 1px solid white;
			overflow: hidden;
			@include border-radius(50%);
			span {
				text-align: center;
				display: block;
				width: 34px;
				height: 34px;
				background-color: white;
				@include border-radius(50%);
				i {
					color: $mainColor;
					vertical-align: middle;
				}
			}
		}
	}
}