// General Style
body {
	font-family: $fontL, sans-serif; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $textColor;
	font-size: 22px;
	background-color: $bgColor;
	background-image: url('../images/bg.jpg');
	background-position: left top;
    background-size: 100% auto;
    background-attachment: fixed;
	display: none;
}
