// header
.header {
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
	@include transition(all, .3s, ease-in-out);
	&.sticky {
		background-color: $mainColor;
	}
	a {
		text-decoration: none;
		&.navbar-brand {
			img {
				height: 60px;
				width: auto;
			}
		}
	}
	.topnav {
		text-align: center;
		overflow: hidden;
		background: none;
		@include transition(all, .3s, ease-in-out);
		@media screen and (max-width: 1199px) {
			padding: 0 10px;
			&.responsive {
				background-color: $mainColor;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				margin: 0;
				padding: 0;
				display: inline-block;
				&.logo-space {
					@media screen and (max-width: 1199px) {
						width: calc(100% - 51px);
					    text-align: left;
					}
					img {
						width: 90px;
						height: auto;
					}
				}
				&.has-child {
					ul {
						&.child-menu {
							display: none;
							padding: 10px;
							position: absolute;
						    text-align: left;
						    background-color: rgba(87, 35, 96, .8);
						    @include border-radius(14px);
						    li {
						    	display: block;
						    	a {
						    		padding: 0px 5px;
								    font-size: 16px;
								    font-family: $fontB;
						    	}
						    }
							&.show {
								display: block;
							}
							@media screen and (max-width: 1199px) {
								position: relative;
							    padding-left: 20px;
							    background-color: rgba(0, 0, 0, .2);
							}
						}
					}
				}
			}
		}
		a {
			font-family: $fontH;
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		    font-size: 22px;
		    text-transform: uppercase;
			opacity: 1;
			@include transition(all, .3s, ease-in-out);
			&:hover {
				background: none;
				opacity: .85;
			}
			&.active {
				color: white;
			}
		}
		.icon-burger {
			display: none;
			color: white;
			&:active, &:focus {
				background: none;
				color: white;
			}
		}
	}

	@media screen and (max-width: 1199px) {
		.container {
			padding: 0;
		}
		.topnav ul > li:not(:first-child) {display: none;}
		.topnav a.icon-burger {
			float: right;
			display: block;
			margin-top: 5px;
		}
		.topnav.responsive {position: relative;}
		.topnav.responsive .icon-burger {
			position: absolute;
			right: 10px;
			top: 0;
		}
		.topnav.responsive ul > li {
			float: none;
			display: block;
			text-align: left;
		}
	}
}