// buttons
.btn {
	padding: 10px 38px;
	font-family: $fontH;
	font-size: 18px;
	text-transform: none;
	line-height: 26px;
	@include border-radius(14px);
	@include transition(all, 0.3s, ease);
	&.btn-fullround {
		@include border-radius(25px);
	}
	&.btn-longshadow {
		@include border-radius(25px);
		@include box-shadow(0, 5px, 20px, 0, rgba(0,0,0,0.20));
	}
	img{
		margin-right: 15px;
	}
	+ .btn {
		margin-left: 10px;
	}
}

.btn-primary {
	position: relative;
	background-color: $mainColor;
	border-color: $mainColor;
	&:hover, &:focus{
		color: $whiteColor;
		background-color: $mainDark;
		border-color: $mainColor;
	}
	&:after {
		position: absolute;
		left: 7px;
		right: 7px;
		top: 5px;
		bottom: 5px;
		content: '';
		border: 1px dashed white;
		@include border-radius(10px);
	}
}
.btn-primary-dark {
	color: $whiteColor;
	background-color: $thirdColor;
	border-color: $thirdColor;
	&:hover, &:focus{
		color: $whiteColor;
		background-color: $mainDark;
	}
}
