// components
li {
	margin-left: 15px;
}
h5, .h5 {
	font-size: 16px;
}
.no-padding {
	padding: 0!important;
}
.no-margin {
	padding: 0!important;
}
.divider {
	margin: 10px 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: rgba(0,0,0,.1);
}
.bg-main {
	background-color: $mainColor;
}
.bg-main-light {
	background-color: $mainLight;
}
.bg-main-dark {
	background-color: $mainDark;
}
.bg-second {
	background-color: $secondColor;
}
.text-white {
	color: $whiteColor;
}
.text-black {
	color: $blackColor;
}
.text-main {
	color: $mainColor;
}
.text-second {
	color: $secondColor;
}
.black {
	color: $blackColor!important;
}
.center-row-col {
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
}
.clearfloat:after{
	content: "."; 
   	visibility: hidden; 
   	display: block; 
   	height: 0; 
   	clear: both;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.vertical-align {
	display: table;
	height: 100%;
    width: 100%;
	.vertical-align-middle {
		display: table-cell;
		vertical-align: middle;
	}
}
/* display flex */
.flex{
	display: flex;
}

.vcenter{
	align-items: center;
}

.hcenter{
	justify-content: center;
}
.modal-header {
	button.close {
	    position: absolute;
	    right: 20px;
	}
}