// input
@media all and (-ms-high-contrast:none){
    select{
    	background-image: none !important;
    }
}
label {
    font-family: $fontB;
    font-size: 10px;
    color: $thirdColor;
    letter-spacing: 0;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.form-control::-webkit-input-placeholder {color: $lgrayColor3}
.form-control::-moz-placeholder {color: $lgrayColor3}
.form-control:-ms-input-placeholder {color: $lgrayColor3}
.form-control:-moz-placeholder {color: $lgrayColor3}



