// typhography
$fontL: 'Linotte-Light', sans-serif;
$fontR: 'Linotte-Regular', sans-serif;
$fontM: 'Linotte-SemiBold', sans-serif;
$fontB: 'Linotte-Bold', sans-serif;
$fontH: 'Linotte-Heavy', sans-serif;

$fontA: 'Advocate', sans-serif;
$fontAN: 'Arial-Narrow-Regular', sans-serif;


@font-face {
	font-family: 'Linotte-Light';
	src: url('../fonts/Linotte/Linotte-Light.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Linotte-Regular';
	src: url('../fonts/Linotte/Linotte-Regular.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Linotte-Bold';
	src: url('../fonts/Linotte/Linotte-Bold.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Linotte-SemiBold';
	src: url('../fonts/Linotte/Linotte-SemiBold.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Linotte-Heavy';
	src: url('../fonts/Linotte/Linotte-Heavy.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Advocate';
	src: url('../fonts/Advocate-script-3/Advocate.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial-Narrow-Regular';
	src: url('../fonts/Arial-Narrow/ARIALN.TTF')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

