/*----- CSS RESET -----*/

/* Basic Styles Reset */
html, body {
  width:100%;
  height:100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Content Holders & HTML5 Elements */
div, article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display:block;
  zoom:1;
}

div:after, article:after, aside:after, details:after, figcaption:after, figure:after, footer:after, header:after, hgroup:after, main:after, nav:after, section:after, summary:after, ul:after {
  content:" ";
  display:block;
  clear:both;
}

audio, canvas, progress, video {
  display:inline-block;
  vertical-align:baseline;
}

audio:not([controls]), [hidden], template {
  display:none;
  height:0;
}

/* Form Elements */
button {
  overflow:visible;
}

button, select {
  text-transform:none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance:button;
  cursor:pointer;
}

button[disabled], html input[disabled] {
  cursor:default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border:0;
  padding:0;
}

input {
  line-height:normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing:border-box;
  padding:0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height:auto;
}

fieldset {
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0;
}

legend {
  border:0;
  padding:0;
}

textarea {
  overflow:auto;
}

/* Tables */
table {
  border-collapse:collapse;
  border-spacing:0;
}

td, th {
  padding:0;
}