// Landing
.landing-page {

}
.section {
	position: relative;
	display: block;
	min-height: 100vh;
	height: auto;
	padding: 30px;
	@media screen and (max-width: 767px) {
		min-height: unset;
		padding: 60px 16px;
	}
	.section-title {
		position: relative;
		display: block;
		text-align: center;
		margin-bottom: 20px;
		h1 {
			position: relative;
			display: inline-block;
			font-family: $fontH;
			color: white;
			margin: 0px;
			text-transform: uppercase;
			letter-spacing: -1px;
			-webkit-text-stroke: 1px $mainColor;
			-webkit-background-clip: text;
			-webkit-text-fill-color: white;
			&:after {
				color: $mainColor;
			    content: attr(data-text);
			    position: absolute;
			    -webkit-text-stroke: 9px $mainColor;
			    left: 0;
			    z-index: -2;
			}
		}
		h1, h1:after {
		    font-size: 50px;
			@media screen and (max-width: 767px) {
				font-size: 38px;
			}
		}
	}
	.section-content {
		p {
			font-family: $fontR;
			text-align: center;
			color: $mainColor;
		    max-width: 700px;
		    margin: 0 auto;
		    line-height: 26px;
		}
		.button {
			margin-top: 20px;
		}
		.images {
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}
.section-top {
	min-height: unset;
    height: 100vh;
    padding: 0;
    margin-top: 20px;
	@media screen and (max-width: 767px) {
		height: auto;
	}
	.container {
		position: static;
	}
}
.slide-area {
	position: relative;
    height: calc(100vh - 30px);
    z-index: 1;
	@media screen and (max-width: 767px) {
		height: 60vh;
	}
}

// Carousel fade transition
.carousel-fade {
	.carousel-item {
		display: block;
		position: absolute;
		opacity: 0;
		transition: opacity .75s ease-in-out;

		&.active {
			opacity: 1;
		}
		> img {
			@media screen and (max-width: 767px) {
				margin-top: 40%;
			}
		}
	}
}
.carousel-caption {
	bottom: unset;
	top: 60px;
	left: 0;
	right: 0;
	text-align: center;
}
.carousel-button {
	position: absolute;
	bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}
.carousel-indicators {
	bottom: 0;
	li {
		max-width: 10px;
	    width: 10px;
	    height: 10px;
	    @include border-radius(50%);
	    &.active {
	    	background-color: $mainColor;
	    }
	}
}
.carousel,
.carousel-inner,
.carousel-item {
	width: 100%;
	height: 100%;
}
.carousel {
	position: absolute;
	top: 0;
	left: 0;
}
.carousel-control-prev, .carousel-control-next {
	opacity: 1;
}
.carousel-control-next-icon {
    background-image: url(../images/arrow-right.png);
}
.carousel-control-prev-icon {
    background-image: url(../images/arrow-left.png);
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 24px;
    height: 60px;
    background-size: 100% auto;
}
.leaderboard {
	position: relative;
	text-align: center;
	margin-top: 80px;
	max-width: 280px;
	@media screen and (max-width: 767px) {
		margin: 40px auto 0;
	}
	.leaderboard-title {
	    position: relative;
	    z-index: 9;
	    display: inline-block;
	    font-family: $fontAN;
	    color: white;
        font-size: 26px;
	    font-weight: bold;
	    padding: 4px 5px;
		background-color: $mainColor;
		@include border-radius(14px);
		span {
			padding: 2px 34px;
			border: 1px dashed white;
			@include border-radius(10px);
		}
	}
	.leaderboard-content {
		position: relative;
		z-index: 1;
		text-align: left;
		padding: 30px 14px 14px;
		margin-top: -20px;
		border: 3px solid $mainColor;
		background-color: $secondColor;
		@include border-radius(14px);
		// box-shadow: 2px 2px 5px 0px rgba(0,0,0,.3);
		@include box-shadow(2px, 2px, 5px, 0px, rgba(0,0,0,.3));
		ul {
			position: relative;
			margin: 0;
			padding: 0;
			li {
				position: relative;
				font-family: $fontH;
				color: $mainColor;
				font-size: 18px;
				list-style: none;
				margin: 0 0 0 24px;
			    padding: 3px 10px 3px 30px;
			    background-color: white;
				@include border-radius(14px);
				> div {
					display: inline-block;
				}
				.rank {
				    position: absolute;
				    left: -24px;
				    top: -3px;
				    color: white;
				    text-align: center;
				    font-size: 30px;
				    width: 40px;
				    height: 40px;
					background-color: $mainColor;
					@include border-radius(50%);
				}
				+ li {
					margin-top: 16px;
				}
			}
		}
	}
}

