/* CROSS-SITE MIXINS */

/* CSS3 Animated Transitions */
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition:$transition-property $transition-time $method;
    -moz-transition:$transition-property $transition-time $method;
    -ms-transition:$transition-property $transition-time $method;
    -o-transition:$transition-property $transition-time $method;
    transition:$transition-property $transition-time $method;
}

// CSS 3 General Transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

/* CSS3 Border Radius */
@mixin border-radius($radius) {
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	border-radius:$radius;
}
@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
  border-top-left-radius: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
}
@mixin border-top-left-radius($radius) {
	-webkit-border-top-left-radius:$radius;
	-moz-border-top-left-radius:$radius;
	border-top-left-radius:$radius;
}
@mixin border-top-right-radius($radius) {
	-webkit-border-top-right-radius:$radius;
	-moz-border-top-right-radius:$radius;
	border-top-right-radius:$radius;
}
@mixin border-bottom-left-radius($radius) {
	-webkit-border-bottom-left-radius:$radius;
	-moz-border-bottom-left-radius:$radius;
	border-bottom-left-radius:$radius;
}
@mixin border-bottom-right-radius($radius) {
	-webkit-border-bottom-right-radius:$radius;
	-moz-border-bottom-right-radius:$radius;
	border-bottom-right-radius:$radius;
}

/* CSS3 Text shadow */
@mixin text-shadow($color, $offset, $blur, $spread) {
	-webkit-text-shadow:$color $offset $blur $spread;
	-moz-text-shadow:$color $offset $blur $spread;
	text-shadow:$color $offset $blur $spread;
}

/* CSS3 Box shadow */
@mixin box-shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow:$x $y $blur $spread $color;
  -moz-box-shadow:$x $y $blur $spread $color;
  box-shadow:$x $y $blur $spread $color;
}
@mixin box-shadow-in($set, $x, $y, $blur, $spread, $color) {
  -webkit-box-shadow:$set $x $y $blur $spread $color;
  -moz-box-shadow:$set $x $y $blur $spread $color;
  box-shadow:$set $x $y $blur $spread $color;
}

/* Set width & height */
@mixin square-size($size) {
  width:$size;
  height:$size;
}

/* Create pseudo 
  div::before, div::after {
    @include pseudo;
  }
*/
@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

/* Create triangle */
@mixin triangle($color: #000, $size: 50px, $point: top) {
  $opposite: opposite-position($point);
  height: 0;
  width: 0;
  border: $size solid rgba(255, 255, 255, 0);
  border-#{$opposite}: $size solid $color;
  border-#{$point}: 0;
}
/* @include triangles($main, left, 6px, absolute, true/false); */
@mixin triangles($color, $direction, $size: 6px, $position: absolute, $round: false){
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $round {
    border-radius: 3px;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if  $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}

/* transform */
@mixin transform($value){
  -ms-transform: $value; /* IE 9 */
  -webkit-transform: $value; /* Safari */
  transform: $value;
}

/* animation */
@mixin animation-double($animate, $animate2){
  -ms-animation: $animate, $animate2;
  -webkit-animation: $animate, $animate2;
  animation: $animate, $animate2;
}
@mixin animation($animate){
  -ms-animation: $animate;
  -webkit-animation: $animate;
  animation: $animate;
}

/* placeholder
  textarea {  
    @include input-placeholder {
      color: $color;
    }
  } 
*/
@mixin placeholder($property, $value){
  &::-webkit-input-placeholder {$property: $value}
  &::-moz-placeholder {$property: $value}
  &:-ms-input-placeholder {$property: $value}
  &:-moz-placeholder {$property: $value}
}
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

/* Media Queries
  @include mq('tablet-wide') {
    padding-top: 4rem;
    font-size: 2.4rem;
  }
*/
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

/* Ratio
  div {
    @include responsive-ratio(16,9);
  }
*/
@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}