// Variables

// Brand Color
$mainColor: #572360;
$mainDark: darken($mainColor, 10%);
$mainLight: lighten($mainColor, 20%);
$secondColor: #f6caff;
$thirdColor: #431355;
$textColor: #373A3C;
$textColor2: #808080;

// Basic Color
$bgColor: #dfc0e9;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$darkColor: #444444;
$darkColor2: #232323;
$redColor: #B21B1B;
$greenColor: #1FB21B;
$blueColor: #21A4FF;
$grayColor: #808080;
$lgrayColor: #F6F7FB;
$lgrayColor2: #eee;
$lgrayColor3: #d2d2d2;
$lgrayColor4: #ccc;